@import '../Base/variable';

.calendario-comidas{
    display: grid;
    grid-row: span 7;
    background: $colorPrimario;

    &:nth-child(even){
        background: $colorSecundario;
    }

    &_ver{
        margin-right: 1em;
    }

    &_plato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 2em;
        border: 1px solid white;
        font-style: italic;

    }

    &_imagen{
        width: 200px;
        height: 150px;
        border-radius: 10px;
        margin:10px 0 10px 30px
    }

    &_title{
        color: white;
        text-align: center;
    }

    &-contenedor{
        background: $colorPrimario;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &_boton{
            padding: 40PX;
            background: $colorSecundario;
            border-radius: 5%;
            color: white;
            justify-content: center;
            align-items: center;

            .link{
                color: white;   
            }

            &:hover{
                background: $colorPrimario;
                color: white;
            }
        }

    }
    
    &_input{
        display: none;
    }
}
