@import '../Base/variable';

.calendario-comidas{
    display: grid;
    grid-row: span 7;
    background: $colorPrimario;

    &:nth-child(even){
        background: $colorSecundario;
    }

    &_ver{
        margin-right: 1em;
    }

    &_plato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 2em;
        border: 1px solid white;
        font-style: italic;

    }

    &_imagen{
        width: 200px;
        height: 150px;
        border-radius: 10px;
        margin:10px 0 10px 30px
    }

    &_title{
        color: white;
        text-align: center;
    }

    &-contenedor{
        background: $colorPrimario;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &_boton{
            padding: 40PX;
            background: $colorSecundario;
            border-radius: 5%;
            color: white;
            justify-content: center;
            align-items: center;

            .link{
                color: white;   
            }

            &:hover{
                background: $colorPrimario;
                color: white;
            }
        }

    }
    
    &_input{
        display: none;
    }
}

//CALENDARIO ESCRITORIO

.planificador{
    display: grid;
    grid-template-rows: 50px repeat(7,auto);
    grid-template-columns: 200px repeat(3, 1fr);
    border: 1px solid black;
    font-size: 2rem;

    &-instancias{
        display: flex;
        border: 1px solid black;
        justify-content: center;
    }

    &-dias{
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;


                
    }

    .lunes{
        grid-row: 2/3;
    }
    .martes{
        grid-row: 3/4;
    }
    .miercoles{
        grid-row: 4/5;
    }
    .jueves{
        grid-row: 5/6;
    }
    .viernes{
        grid-row: 6/7;
    }
    .sabado{
        grid-row: 7/8;
    }
    .domingo{
        grid-row: 8/9;
    }

    &-comidas{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3,1fr);
        grid-column: span 3;

        &_contenedor{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            flex-direction: column;
            padding: 10px;

        }

        &_imagenes{
            width: 100%;
            height: 100%;
        }
    }
}